<!--<p><span class="crazy">Crazy</span> <span class="party">Party</span> <span class="stuff">Stuff</span></p>-->
<div class="topnav">

  <div class="visitor-nav  d-flex justify-content-between">
    <% if !user_signed_in? %>
      <%= render "components/pages_nav" %>

      <div class="login-container">
          <form action="/">
            <input type="text" placeholder="Email" name="email">
            <input type="text" placeholder="Password" name="psw">

            <div class="btn-login">
              <%= link_to new_user_session_path do %>
              <button type="submit">Login</button>
              <% end %>

            </div>
          </form>


      </div>
    <% end %>
  </div>

  <div class="user-nav  d-flex justify-content-between">
    <% if user_signed_in? %>
      <%= render "components/pages_nav" %>

      <div class="avatar-dropdown">
        <% if current_user.photo.attached? %>
          <img class="avatar dropbtn" src="<%= current_user.photo.url %>">
        <% else %>
          <img class="avatar dropbtn" src="https://www.pasrc.org/sites/g/files/toruqf431/files/styles/freeform_750w/public/2021-03/blank-profile-picture_0.jpg?itok=iSBmDxc8">
        <% end %>
        <div class="dropdown-content">
          <a class="dropdown-option" href="/conversations">Inbox&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          <a class="dropdown-option" href="/user_bookings">My bookings&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          <a class="dropdown-option" href="/my_attractions">My attractions&nbsp;&nbsp;&nbsp;&nbsp;</a>
          <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn-logout"%>
        </div>
      </div>

    <% end %>
  </div>

</div>
