<h1>My bookings</h1>
<div class="book">

  <% @bookings.each do |booking|%>

  <div class="attracname"><%= booking.attraction.name %></div> /////
   <div class="date">
      <th>From <%= booking.start_date %></th>
      <th>to <%= booking.end_date %></th>
   </div>
   <div>
    Total price: <%= ((booking.end_date - booking.start_date) * booking.attraction.price).round %> €
   </div>
  <% if booking.attraction.photo.attached? %>
    <%= cl_image_tag booking.attraction.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>

  <% end %>
</div>


<%# montrer réservations %>
