
    <div class="banner">
      <div class="container">
        <h1>
          LOGO HERE
        </h1>
      </div>
    </div>

  <div class="card-behavior">
    <% @attractions.each do |attraction| %>
      <div class="card" style="background-image: url(<%= cl_image_path(attraction.photo.key) %>);">
        <div class="card-content">
          <h4 class="card-title"><%= attraction.name %></h4>
          <p class="card-body"><%= attraction.one_liner %></p>
          <p class="card-body"><%= attraction.price %> </strong>€ per day</p>
          <%= link_to "Learn More...", attraction_path(attraction), class: 'button' %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="text-center">
    <a href="./attractions" class="button-attractions">Voir toutes les attractions</a>
  </div>
