<div class="container my-5">

  <div class="d-flex justify-content-between w-100 mb-3">
    <% if @attraction.photo.attached? %>
      <%= cl_image_tag @attraction.photo.key, height: 300, width: 400, crop: :fill, class:"attracpic" %>
    <% end %>

  <div class="text-end ps-5">

      <h2 class="attracname">
        <%= @attraction.name %>
      </h2>
      <% unless current_user.nil? %>
      <p><%= link_to "Contact owner", conversations_path(sender_id: current_user.id, recipient_id: @attraction.user.id), method: 'post'%></p>
      <% end %>
      <h3>
        <%= @attraction.one_liner %>
      </h3>
      <p>
        <%= @attraction.description %>
      </p>

      <div class="cost">
        <strong><%= @attraction.price %> €</strong>
      </div>
      <div class="design-date">
        <%= simple_form_for [ @attraction, @booking ] do |f| %>
          <%# <%= f.input :start_date, class: 'datepicker' %>
          <%= f.input :start_date, input_html: { class: "datepicker"}, label: 'Start Date', placeholder: "#{Date.today}", required: true %>
          <%= f.input :end_date, input_html: { class: "datepicker"}, label: 'End Date', placeholder: "#{Date.today}", required: true %>
          <%= f.submit "Book", class: "button-show" %>
          <%= link_to 'Back', attractions_path, class: 'button-show' %>
        <% end %>
      </div>
    </div>
  </div>



</div>
<%# <div data-controller="insert-in-list">
  <div data-insert-in-list-target="items">
    <!-- [...] -->
  </div>
  <%= simple_form_for([ @attraction, @review ],
                      data: { insert_in_list_target: "form" }) do |f| %>
    <!-- [...] -->
  <%# <% end %>
</div>
<div class="container" id="reviews" data-controller="insert-in-list">
  <div data-insert-in-list-target="items">

  <% if @attraction.reviews.blank? %>
    <p class='comment'> Be the first to leave a review for ✨<%= @attraction.name %>✨! </p>
  <% else %>
  <h3>The reviews</h3>
  <ul>
  <% @attraction.reviews.each do |review| %>
   <li><%=  review.content %></li>
    <% end %>
  <% end %>
  <%= render "review_form"  %>
  </ul>
  </div>
</div>
