<div class="container">
  <p id="notice"><%= notice %></p>

<p>
  <strong><%= @attraction.name %></strong>
</p>

<p>
  <%= @attraction.price %> € per day
</p>

<p>
  <%= @attraction.one_liner %>
</p>

<p>
  <strong>Description:</strong>
  <%= @attraction.description %>
</p>



<% if @attraction.photo.attached? %>
  <%= cl_image_tag @attraction.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<%= link_to 'Back', attractions_path %>


<!-- classic link_to -->
<%# <%= link_to "Our Cocktails", cocktails_path %>

<!-- link_to with custom HTML -->
<%# <%= link_to cocktail_path(@cocktail) do %>
  <%# <img src="cocktails.jpg" alt="Our cocktails" />
<% end %>


  <%= simple_form_for [ @attraction, @booking ] do |f| %>
    <%# <%= f.input :start_date, class: 'datepicker' %>
    <%= f.input :start_date, input_html: { class: "datepicker"}, label: 'Start Date', placeholder: "#{Date.today}", required: true %>
    <%= f.input :end_date, input_html: { class: "datepicker"}, label: 'End Date', placeholder: "#{Date.today}", required: true %>
    <%= f.submit "Book", class: "btn btn-primary" %>
<% end %>

</div>

<div id="reviews">
<p>
 <%= pluralize @attraction.reviews.size, "review" %>
</p>
  <% if @attraction.reviews.blank? %>
    Be the first to leave a review for <%= @attraction.name %>
  <% else %>
    <% @attraction.reviews.each do |review| %>
      <p><%= review.content %></p>
    <% end %>
  <% end %>
</div>
