<div class="main-container">
  <p id="notice"><%= notice %></p>

<div class="d-flex justify-content-between">
  <div>
    <strong><%= @attraction.name %></strong>
  </div>

  <div>
    <span class='mx-1'>Owner: <%= @attraction.user.first_name %></span>
    <% if @attraction.user.photo.attached? %>
      <img class="avatar mx-1" src="<%= @attraction.user.photo.url %>">
    <% else %>
      <img class="avatar mx-1" src="https://www.pasrc.org/sites/g/files/toruqf431/files/styles/freeform_750w/public/2021-03/blank-profile-picture_0.jpg?itok=iSBmDxc8">
    <% end %>
    <% unless current_user.nil? %>
      <div><%= link_to "Send a message", conversations_path(sender_id: current_user.id, recipient_id: @attraction.user.id), method: 'post'%></div>
    <% end %>
  </div>
</div>

<div class="test-class">

  <p>
    <%= @attraction.price %> € per day
  </p>

  <p>
    <%= @attraction.one_liner %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @attraction.description %>
  </p>
</div>

<div class="card-behavior-show">
  <div class="card-show">

      <% if @attraction.photo.attached? %>
      <%= cl_image_tag @attraction.photo.key%>
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'Back', attractions_path %>


<!-- classic link_to -->
<%# <%= link_to "Our Cocktails", cocktails_path %>

<!-- link_to with custom HTML -->
<%# <%= link_to cocktail_path(@cocktail) do %>
  <%# <img src="cocktails.jpg" alt="Our cocktails" />
<% end %>


  <%= simple_form_for [ @attraction, @booking ] do |f| %>
    <%# <%= f.input :start_date, class: 'datepicker' %>
    <%= f.input :start_date, input_html: { class: "datepicker"}, label: 'Start Date', placeholder: "#{Date.today}", required: true %>
    <%= f.input :end_date, input_html: { class: "datepicker"}, label: 'End Date', placeholder: "#{Date.today}", required: true %>
    <%= f.submit "Book", class: "btn btn-primary" %>
<% end %>

</div>
<%# <div data-controller="insert-in-list">
  <div data-insert-in-list-target="items">
    <!-- [...] -->
  </div>
  <%= simple_form_for([ @attraction, @review ],
                      data: { insert_in_list_target: "form" }) do |f| %>
    <!-- [...] -->
  <%# <% end %>
</div>
<div class="container" id="reviews" data-controller="insert-in-list">
  <div data-insert-in-list-target="items">

  <% if @attraction.reviews.blank? %>
    <p class='comment'> Be the first to leave a review for ✨<%= @attraction.name %>✨! </p>
  <% else %>
  <h3>The reviews</h3>
  <ul>
  <% @attraction.reviews.each do |review| %>
   <li><%=  review.content %></li>
    <% end %>
  <% end %>
  </ul>

  </div>
    <%= render "review_form", review: @review %>
</div>
