<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @attraction.name %>
</p>

<p>
  <strong>One liner:</strong>
  <%= @attraction.one_liner %>
</p>

<p>
  <strong>Description:</strong>
  <%= @attraction.description %>
</p>

<%# <p>
  <strong>Price:</strong>
  <%= @attraction.price %>
<%# </p> %>

<% if @attraction.photo.attached? %>
<%= cl_image_tag @attraction.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<%= link_to 'Edit', edit_attraction_path(@attraction) %> |
<%= link_to 'Back', attractions_path %>


<!-- classic link_to -->
<%# <%= link_to "Our Cocktails", cocktails_path %>

<!-- link_to with custom HTML -->
<%# <%= link_to cocktail_path(@cocktail) do %>
  <%# <img src="cocktails.jpg" alt="Our cocktails" />
<% end %>
