<h1>My attractions</h1>
<%= link_to "Create a party attraction", new_attraction_path %>
<% if flash[:alert] %>
  <div class="flash flash-success alert alert-dismissible fade show" role="alert">
  <span><strong>Yaii!</strong> 🎉 <%= flash[:alert] %></span>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>
<% end %>
<div class="attractions">
    <% @user_attractions.each do |attraction| %>
        <%  photo = attraction.photo && attraction.photo.key  ? attraction.photo.key : '' %>
        <div class="attraction-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path photo, crop: :fill %>')">
          <h3> <%= link_to attraction.name, attraction_path(attraction) %> </h3>
          <p> <%= attraction.one_liner %> </p>

          <%= link_to "Edit", edit_attraction_path(attraction)%>
          <%= link_to "Delete", attraction_path(attraction), method: :delete %>
        </div>
    <% end %>
</div>
